<div>
    <div *ngIf="appointments?.length === 0" class="row no-appointments">
        <div class="container">
            <div class="jumbotron">
                <h1 class="display-4 text-center">There are no appointments</h1>
                <hr class="my-4">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div *ngIf="appointments?.length > 0" class="header mt-4">
        <h1 class="p-4">Your appointments</h1>
    </div>

    <div *ngIf="appointments?.length > 0" class="container">
        <table class='table table-striped' aria-labelledby="tableLabel" style="width: 100%;">
            <thead>
                <tr>
                    <th>Doctor name</th>
                    <th>Patient name</th>
                    <th>Appointment date</th>
                    <th>Reason</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let appointment of appointments">
                    <td>{{ appointment.staffFullName }}</td>
                    <td>{{ appointment.userFullName }}</td>
                    <td>{{ appointment.appointmentTime }}</td>
                    <td>{{ appointment.reason }}</td>
                </tr>
            </tbody>  
        </table>
    </div>
</div>
