<h1 id="tableLabel">Medical services</h1>

<p>Our medical services are:</p>

<p *ngIf="!services"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="services">
  <thead>
    <tr>
      <th>Id</th>
      <th>Domain</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let service of services">
      <td>{{ service.id }}</td>
      <td>{{ service.domain }}</td>
      <td>{{ service.type }}</td>
      <td>{{ service.description }}</td>
    </tr>
  </tbody>
</table>
